<div class="container">
    <h3 class="text-center text-white">Pokemon : <span class="text-warning">{{ pokemon.name }}</span></h3>

    <div class="row">
        <div class="col-6">
            <div class="mb-3 w-100 d-flex justify-content-center align-items-center">
                <a href="javascript:history.back()" type="button" class="btn btn-light" role="button">Back</a>
            </div>
            <img class="img-fluid" src="{{ pokemon.image }}" alt="{{ pokemon.name }}">

            {{#if pokemon.success}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Excellent!</strong> successful capture 😎.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
        </div>
        <div class="col-6">
            <div class="card shadow-lg mt-5 opacity-75">
                <div class="card-body">
                    <p class="fs-4 text-center">features</p>

                    <div class="mb-3 row">
                        {{#if pokemon.capture}}
                        <h5><span class="badge bg-success">you already have this pokemon</span></h5>
                        {{else}}
                        <label for="staticEmail" class="col-sm-4 col-form-label">pokeball available:</label>
                        <div class="col-sm-3">
                            <input type="text" id="pokeava" readonly class="form-control-plaintext text-danger" id="staticEmail" value="3">
                        </div>
                        {{/if}}
                    </div>

                    <form action="/pokemon/show" method="post">
                    <div class="row">
                        <input type="hidden" name="dni" id="dni" value="{{ pokemon.dni }}">
                        <input type="hidden" name="image" id="image" value="{{ pokemon.image }}">
                        <input type="hidden" name="name" id="name" value="{{ pokemon.name }}">
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">EXP:</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="experience" name="experience" value="{{pokemon.experience}}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">HP:</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="hp" name="hp" value="{{pokemon.hp}}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Attack:</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="attack" name="attack" value="{{pokemon.attack}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Defense:</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="defense" name="defense" value="{{pokemon.defense}}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Speed:</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="speed" name="speed" value="{{pokemon.speed}}">
                                </div>
                            </div>
                            {{#if pokemon.alias}}
                                <div class="mb-3 row">
                                    <label for="staticEmail" class="col-sm-5 col-form-label">Alias:</label>
                                    <div class="col-sm-3">
                                        <input type="text" readonly class="form-control-plaintext" value="{{pokemon.alias}}">
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="mb-3 px-3 row">
                        <input type="text" class="form-control" value="" id="alias" name="alias" placeholder="set an alias for {{ pokemon.name }}">
                    </div>

                    {{#if pokemon.capture}} 
                    <a id="btnupdate" role="button" type="button" class="btn btn-info" href="/mypoke">see your pokemon</a>
                    {{else}}
                    <button id="btncapture" type="button" class="btn btn-warning" onclick="capture_pokemon();">capture pokemon</button>
                    <button id="btntake" type="submit" class="btn btn-success" onclick="take_pokemon();">take pokeball</button>
                    {{/if}}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
